.card {
  align-items: center;
  
}
img{
  border: solid black;
  border-radius: 50px;
  width: 400px;
  height: 50%;
}
.home {
    width: 100%;
    align-items: center;
    font-family: "Arial", sans-serif;
    color: #3e497a;
  }
  
h2{
    font: bolder;
    text-align: center;

}
  